.header{
    border: black 4px solid;
    width: 95vw;
    height: 25vh;
    margin: 10px;
}

.purple{
    width: 5%;
    height: 70%;
    background-color: blueviolet;
    display: inline-block;
    margin: 8px;
}

.green{
    width: 40%;
    height: 90%;
    background-color: green;
    display: inline-block;
    margin: 8px;
    margin-left: 25px;
}

.blue{
    width: 20%;
    height: 90%;
    border-radius: 50%;
    background-color: lightskyblue;
    display:  inline-block;
    margin: 8px;
    margin-left: 25px;
}

.middle{
    width: 95vw;
    height: 30vh;
    border: black 4px dotted;
    margin: 10px;
    margin-top: 20px;
}

.shadowbox{
    width: 93%;
    height: 70%;
    background-color: lemonchiffon;
    box-shadow: 5px 5px 5px black;
    margin: 30px;
}

.bottom{
    width: 50vw;
    height: 32vh;
    border: rgb(221, 221, 221) 1px solid;
    /* margin-top: 20px; */
    box-shadow: 3px 3px 3px rgb(221, 221, 221);
    margin: 20px auto 0;
}

.textbox{
    color: navy;
    font-weight: 550;
    font-size: 1.8em;
    text-align: center;
    margin: 17% 30%;
    letter-spacing: 0.3em;
}