*{
    background-color: lightgray;
}

html, body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

body{
    margin: 0;
}

.square{
    background-color: cornflowerblue;
    width: 90px;
    height: 90px;
    margin: 12px 15px 12px 20px;
    padding-bottom: 0;
}

.white{
    width: 100vw;
    height: 85vh;
    background-color: white;
    position: absolute;
    margin-top: 0px;
    padding-top: 0px;
}

.text{
    margin: 20px 35px 25px 20px;
    padding: 30px 45px 35px 20px;
    text-align: left;
    font-size: x-large;
    background-color: white;
}

.blue{
    width: 100vw;
    height: 15vh;
    background-color: cornflowerblue;
}

.green{
    width: 100vw;
    height: 30vh;
    background-color: rgb(0, 255, 200);
}

.yellowgreen{
    width: 100vw;
    height: 45vh;
    background-color: rgb(205, 238, 144);
}

.yellow{
    width: 100vw;
    height: 60vh;
    background-color: yellow;
}